body {
    font-family: sans-serif;
     position: relative;
    background-color: lightgrey;
    margin-top: 75px;
    
  overflow: hidden;
  box-sizing:border-box;
    border:10px solid  black;
}
.main{
    width:200px;
	height:100%;
	 border:1px solid  black;
    position:fixed;
    left:-595px;
}
#name
{
    position: fixed;
     border:1px solid  black;

    height: 25px;
    margin:20px 1px 20px 5px;
}
h1
{
     border:1px solid  black;
    position: absolute;
    font-size:30px;
    margin:20px 1px 20px 39px;
}
.center {

    text-align: center;
}

.text-big {
    font-size: 150%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}
#click{
    height: 30px;
    margin-right: 10px; 
}
