body {
    font-family: sans-serif;
     position: relative;
    background-color: lightgrey;
    margin-top: 75px;
    left: 0;
  margin: 0;
  overflow: hidden;
  box-sizing:border-box;
}
.main{
    width:200px;
	height:100%;
	
  background-image: -webkit-linear-gradient(#0d0d0d, #444040);

    position:fixed;
 right:-290px;
}
#name
{
    position: fixed;
    height: 25px;
    margin:-20px 1px 20px 5px;
}
h1
{
    position: absolute;
    font-size:30px;
    margin:-20px 1px 20px 39px;
}
.center {

    text-align: center;
}

.text-big {
    font-size: 150%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}
#click{
    height: 30px;
    margin-right: 10px; 
}
