body {
    font-family: sans-serif;
    background-color: lightgrey;
    margin-top: 75px;
}
.main{
    position: fixed;
    font-size: 20px;
    right: -270px;
}
#name
{
    position: relative;
    height: 25px;
    margin:-20px 1px 20px 5px;
}
h1
{
    position: relative;
    font-size:30px;
    margin:-54px 1px 20px 39px;
}
.center {
    text-align: center;
}

.text-big {
    font-size: 150%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}
#click{
    height: 30px;
    margin-right: 10px; 
}
